/*----------------------------------- Reset ---------------------------------*/

body,
html,
div {
    padding: 0px;
    margin: 0px;
}


/*----------------------------------- Fonts --------------------------------*/

h1,
h2,
h3,
h4,
h5,
p {
    font-family: 'Lato', sans-serif;
}

h1 {
    font-size: 70px;
}


/*----------------------------------- Banner --------------------------------*/

#banner {
    background: url(../img/about-banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    -moz-background: cover;
    -o-background: cover;
    width: 100%;
    height: 100vh;
    text-align: left;
}

#banner div {
    margin-top: 20vh;
    margin-left: 30px;
    width: 400px;
    height: 300px;
    display: inline-block;
}

#banner img {
    position: relative;
    top: 35%;
    transform: translateY(-50%);
    transform: translateX(250%);
    width: 20%;
    height: auto;
}

#banner h3 {
    text-align: justify;
    text-align-last: center;
    font-size: 14px;
    color: gray;
}

#banner h1 {
    font-weight: bold;
    text-align: center;
}


/*-------------------------------- Councillors ------------------------------*/

#team {
    padding-top: 25px;
}

#team h1 {
    text-align: center;
}

#team section {
    width: 33%;
    height: 500px;
    display: inline-block;
    padding: 10px;
    overflow: hidden;
    position: relative;
}

#team section div {
    position: absolute;
    background-color: #595959;
    color: white;
    left: 0;
    right: 0;
    width: 90%;
    margin: 0 auto;
    height: 100%;
    top: 30px;
    padding: 10px;
    opacity: 0;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
}

#team section img {
    display: block;
    margin: 0 auto;
    width: 100%;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
}

#team section:hover div {
    top: 10px;
    opacity: 1;
}

#team section:hover img {
    opacity: 0.025;
}

#team img {
    width: 100%;
}

#team .profileSmaller {
    width: 24%;
    /* 25% overlaps into the next line? Weird... Probs cuz of padding or margin?*/
    height: 500px;
    display: inline-block;
    padding: 10px;
    overflow: hidden;
    position: relative;
}

#team h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    text-align: left;
    padding-left: 15px;
    font-weight: bold;
}

#team h4 {
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    text-align: left;
    padding-left: 15px;
}

#team p {
    font-size: 14px;
    text-align: justify;
    text-align-last: center;
    padding: 20px 30px 30px 30px;
}


/*----------------------------Design Teams-----------------------------------*/

#designTeamIntro {
    background: url(https://images3.alphacoders.com/716/716166.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    -moz-background: cover;
    -o-background: cover;
    width: 100%;
    height: 300px;
    position: relative;
    vertical-align: baseline;
    margin-top: -20px;
}

.designTeams {
    text-decoration: bold;
    text-align: center;
    transform: translateY(30px);
}


/* Note that I simply used the id "team" from the aboutUs html page for this. */


/*------------------------------Contact Us-------------------------------------*/

#contactUs {
    padding-top: 175px;
    width: 49.5%;
    height: 100vh;
    background-color: white;
    display: inline-block;
    overflow: hidden;
}

#contactUs h1 {
    font-size: 42px;
    text-align: center;
}

#contactUs h2 {
    font-size: 18px;
    text-align: center;
}

#contactUs p {
    text-align: justify;
    text-align-last: center;
}

#contactTitle {
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

#contactUs .left {
    margin-left: 150px;
    border-right-style: solid;
    border-width: 0.1px;
}

#contactUs .right {
    margin-right: 150px;
}

#contactUs div {
    padding-top: 25px;
    width: 80%;
    margin: 0 auto;
}

.emailBox {
    margin-left: 7.5%;
    display: inline-block;
    width: 85%;
    height: auto;
}


/*--------------------------------Home Page---------------------------------------*/

#homePage {
    background-repeat: no-repeat;
    background-size: cover;
    -moz-background: cover;
    -o-background: cover;
    width: cover;
    height: 100vh;
}

.homeBackground {
    opacity: 0.25;
    height: 100vh;
    width: cover;
    position: absolute;
}

.homeLogo {
    margin: 0;
    background: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

#news {
    width: 100%;
    height: 75vh;
}


/*---------------------------------Events----------------------------------------*/

#calendar {
    width: 100%;
    height: 100vh;
    padding: 50px;
    background-color: lightgrey;
    text-align: center;
}

#events div {
    width: 33%;
    height: auto;
    display: inline-block;
    text-align: center;
    padding-bottom: 5px;
    border-bottom-style: solid;
    border-width: 3px;
    border-bottom-color: #565656;
}

#events ul {
    padding: 0;
    padding-top: 20px;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    width: 33%;
    height: 300px;
    display: inline-block;
    list-style-type: none;
    text-align: center;
    line-height: 200%;
}


/*
B
U
F
F
E
R

S
O

T
H
A
T

I

S
E
E

...*/
