/*----------------------------------- Reset ---------------------------------*/

body,
html,
div {
    padding: 0px;
    margin: 0px;
}


/*----------------------------------- Fonts --------------------------------*/

h1,
h2,
h3,
h4,
h5,
p {
    font-family: 'Lato', sans-serif;
}

h1 {
    font-size: 70px;
}


/*---------------------------------- Banner ----------------------------------*/

.bannerAll {
    width: 100%;
    height: 200px;
    background: linear-gradient(to right, rgba(86, 86, 86, 0.8) 0%, rgba(239, 61, 53, 0.8) 50%, rgba(86, 86, 86, 0.8) 100%), url(../img/MAME13.jpg);
    background-size: cover;
}

.bannerText h1 {
    font-weight: 900;
    text-align: center;
    letter-spacing: 10px;
    padding-top: 50px;
    margin-top: 0px;
}


/*----------------------------------- AboutUs --------------------------------*/

#banner {
    background: url(../img/MAME10.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    -moz-background: cover;
    -o-background: cover;
    width: 100%;
    height: 100vh;
}

.transbox {
    height: 100vh;
    background-color: white;
    opacity: 0.9;
}

#banner h3 {
    text-align: justify;
    text-align-last: center;
    font-size: 18px;
    line-height: 150%;
    font-variant: small-caps;
    font-weight: 600;
    color: #565656;
}

#banner h1 {
    font-weight: 900;
    text-align: center;
    letter-spacing: 15px;
}


/* The fucking opacity in here man... I want it 100%~ jesus. Nothing works, idk. */

.transbox section {
    color: black;
    width: 50%;
    padding: 15px;
    margin-left: 5%;
    padding-top: 5%;
    display: inline-block;
}

.transbox h3 {
    width: 70%;
    margin: 0 auto;
    padding-top: 5%;
}

.transbox img {
    width: 30%;
    margin-left: 5%;
    margin-bottom: 40%;
    display: inline-block;
}


/*-------------------------------- Councillors ------------------------------*/

#team {
    font-size: 0px;
}

#team section {
    width: 33.33%;
    height: 500px;
    display: inline-block;
    padding: 0px;
    overflow: hidden;
    position: relative;
}

#team section div {
    position: absolute;
    background-color: #565656;
    color: white;
    left: 0;
    right: 0;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    top: 0px;
    padding: 0px;
    opacity: 0;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
}

#team section img {
    display: block;
    margin: 0 auto;
    height: 500px;
    width: auto;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
}

#team section:hover div {
    opacity: 1;
}

#team section:hover img {
    opacity: 0.025;
}

#team .profileSmaller {
    width: 25%;
    /* 25% overlaps into the next line? Weird... Probs cuz of padding or margin?*/
    height: 500px;
    display: inline-block;
    padding: 0px;
    overflow: hidden;
    position: relative;
}

#team h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    text-align: left;
    padding-left: 15px;
    font-weight: bold;
}

#team h4 {
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    text-align: left;
    padding-left: 15px;
}

#team p {
    font-size: 12px;
    text-align: justify;
    text-align-last: center;
    padding: 10px 20px 20px 20px;
}

#team b {
    font-size: 13px;
    text-decoration: underline;
}


/*----------------------------Design Teams-----------------------------------*/

#designTeams section {
    width: 33%;
    height: auto;
    display: inline-block;
    padding-top: 20px;
}

#designTeams div {
    width: 33%;
    height: auto;
    display: inline-block;
    padding-top: 20px;
    vertical-align: top;
}

#designTeams img {
    width: 400px;
    height: 200px;
    display: block;
    margin: 0 auto;
}

#designTeams h3 {
    text-align: center;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

#designTeams p {
    text-align: justify;
    text-align-last: center;
    padding: 10px 20px 20px 20px;
}


/*------------------------------Contact Us-------------------------------------*/

#contactUs {
    padding-top: 150px;
    width: 49.5%;
    height: 100vh;
    background-color: white;
    display: inline-block;
    overflow: hidden;
}

#quick {
    width: 0.1%;
    height: 400px;
    margin-bottom: 200px;
    display: inline-block;
    background-color: black;
}

#contactUs h1 {
    font-size: 42px;
    text-align: center;
}

#contactUs h2 {
    font-size: 18px;
    text-align: center;
}

#contactUs p {
    text-align: justify;
    text-align-last: center;
}

#contactTitle {
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

.left {
    margin-left: 150px;
    /*
    border-right-style: solid;
    border-width: 0.1px;
    margin-right: 25px;
    */
}

.right {
    margin-right: 150px;
}

#contactUs div {
    padding-top: 0px;
    width: 80%;
    margin: 0 auto;
}

#contact-area form {
    padding-top: 30px;
}

.left img {
    padding-top: 30px;
    display: block;
    width: 60%;
    margin: 0 auto;
}


/* This below may be unecessary */


/*
.emailBox {
    margin-left: 7.5%;
    display: inline-block;
    width: 85%;
    height: auto;
}
*/

#contact-area input,
#contact-area textarea {
    padding: 5px;
    width: 450px;
    font-family: Helvetica, sans-serif;
    font-size: 12px;
    margin: 0px 0px 5px 0px;
    border: 2px solid #ccc;
}

#contact-area textarea {
    height: 125px;
}

#contact-area textarea:focus,
#contact-area input:focus {
    border: 2px solid #900;
}

#contact-area input.submit-button {
    width: 125px;
}

label {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    float: left;
    text-align: left;
    width: 100px;
    padding-top: 2px;
    font-size: 1.2em;
}


/*--------------------------------Home Page---------------------------------------*/

#homePage {
    background-repeat: no-repeat;
    background-size: cover;
    -moz-background: cover;
    -o-background: cover;
    width: cover;
    height: 100vh;
}

.homeBackground {
    opacity: 0.25;
    height: 100vh;
    width: 100%;
    position: absolute;
}

.homeLogo {
    margin: 0;
    background: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}


/*---------------------------------Events----------------------------------------*/

#calendar {
    width: 100%;
    height: 80vh;
    padding: 50px;
}

#events div {
    width: 33%;
    height: auto;
    display: inline-block;
    text-align: center;
    padding-bottom: 5px;
    border-bottom-style: solid;
    border-width: 3px;
    border-bottom-color: #565656;
}

#events ul {
    padding: 0;
    padding-top: 20px;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    width: 33%;
    height: 300px;
    display: inline-block;
    list-style-type: none;
    text-align: center;
    line-height: 200%;
}


/*---------------------------------Mentorship---------------------------------------*/

#mentorship h4 {
    text-align: justify;
    text-align-last: center;
    width: 40%;
    margin: 0 auto;
    padding-top: 2%;
    padding-bottom: 2%;
    color: #565656;
    line-height: 125%;
    font-weight: 500;
}

#mentorsTitle {
    width: 70%;
    margin: 0 auto;
    font-size: 36px;
    text-align: center;
    font-weight: bolder;
    border-bottom: 3px solid;
    padding-top: 50px;
    padding-bottom: 10px;
}

#mentor {
    width: 49.8%;
    height: 100vh;
    display: inline-block;
    background-color: white;
    color: #565656;
}

#mentee {
    width: 49.9%;
    height: 100vh;
    display: inline-block;
    background-color: #565656;
    color: white;
}

.mentorsForm {
    width: 90%;
    height: 80%;
    margin: 0 auto;
    margin-top: 30px;
}


/*---------------------------------FAQ---------------------------------------*/

#FAQ {
    padding-top: 25px;
    height: auto;
}

button.accordion {
    background-color: transparent;
    color: #565656;
    cursor: pointer;
    padding: 0px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    transition: 0.4s;
    font-variant: small-caps;
}

button.accordion.active,
button.accordion:hover {
    color: #ef3d35;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
}

.answer {
    max-height: 0;
    overflow: hidden;
    transition: 0.6s ease-in-out;
    opacity: 0;
    margin: 0 auto;
    text-align: justify;
    text-align-last: center;
    width: 50%;
}

.answer.show {
    opacity: 1;
    max-height: 500px;
}

.answer p {
    font-size: 18px;
    color: #999999;
}


/*-------------------------------Get Involved-------------------------------------*/

.#getInvolved {}

#getInvolved div {
    display: inline-block;
    width: 39%;
    height: 325px;
    background-color: #565656;
    vertical-align: top;
    padding: 25px;
}

#getInvolved img {
    width: 39%;
    height: 325px;
    opacity: 0.5;
    display: inline-block;
    position: absolute;
    z-index: 1;
}

.opacityT,
.opacityT-i {
    transition: opacity 0.5s ease-in-out;
}

#blurb:hover .opacityT-i {
    opacity: 0;
}

#blurb:hover p {
    opacity: 1;
    z-index: 3;
}

#blurb:hover .opacityT {
    opacity: 1;
}

#getInvolved h1 {
    text-align: center;
    font-weight: 900;
    letter-spacing: 5px;
    color: #565656;
    padding-top: 25px;
    padding-bottom: 25px;
}

#getInvolved h2 {
    text-align: center;
    color: white;
    position: relative;
    z-index: 1;
}

#getInvolved p {
    text-align: justify;
    text-align-last: center;
    opacity: 0;
    color: white;
    position: relative;
    padding-bottom: 100px;
}


/*---------------------------------Footer---------------------------------------*/

.footerAll {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    color: #565656;
}

a {
    color: inherit;
    transition: all 0.5s ease;
    text-decoration: none;
}

a:hover {
    color: #ef3d35;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
}

.footerLinks {
    -webkit-margin-before: 1.5em;
    -webkit-margin-after: 1.5em;
}


/*Not sure why the / is remaining the same even with bold */

.footerLinks span {
    font-weight: bold;
    font-weight: 600;
}


/*
B
U
F
F
E
R

S
O

T
H
A
T

I

S
E
E

...*/
