/*----------------------------------- Reset ---------------------------------*/

body,
html,
div {
    padding: 0px;
    margin: 0px;
}


/*----------------------------------- Fonts --------------------------------*/

h1,
h2,
h3,
h4,
h5,
p {
    font-family: 'Lato', sans-serif;
}

h1 {
    font-size: 70px;
}


/*----------------------------------- Banner --------------------------------*/

#banner {
    background: url(../img/about-banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    -moz-background: cover;
    -o-background: cover;
    width: 100%;
    height: 100vh;
    text-align: left;
}

#banner div {
    margin-top: 20vh;
    margin-left: 30px;
    width: 400px;
    height: 300px;
    display: inline-block;
}

#banner img {
    position: relative;
    top: 35%;
    transform: translateY(-50%);
    transform: translateX(250%);
    width: 20%;
    height: auto;
}

#banner h3 {
    text-align: justify;
    text-align-last: center;
    font-size: 14px;
    color: gray;
}

#banner h1 {
    font-weight: bold;
    text-align: center;
}


/*-------------------------------- Councillors ------------------------------*/

#team {
    padding-top: 50px;
}

#team h1 {
    text-align: center;
}

#team section {
    width: 33%;
    height: 400px;
    display: inline-block;
    padding: 10px;
    overflow: hidden;
    position: relative;
    badchangehere;
}

#team section div {
    position: absolute;
    background-color: #2ecc71;
    left: 0;
    right: 0;
    width: 80%;
    margin: 0 auto;
    height: 100%;
    top: 30px;
    padding: 10px;
    opacity: 0;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
}

#team section img {
    display: block;
    margin: 0 auto;
    width: 80%;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
}

#team section:hover div {
    top: 10px;
    opacity: 1;
}

#team section:hover img {
    opacity: 0;
}

#team img {
    width: 100%;
}


/*----------------------------Design Teams-----------------------------------*/

#designTeamIntro {
    background: url(https://images3.alphacoders.com/716/716166.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    -moz-background: cover;
    -o-background: cover;
    width: 100%;
    height: 300px;
    position: relative;
    vertical-align: baseline;
    margin-top: -20px;
}

.designTeams {
    text-decoration: bold;
    text-align: center;
    transform: translateY(30px);
}
